<section class="page-about">
	{%- section 'about-heading' -%}
	{%- section 'featured-banner' -%}
	{%- section 'about-icon-box' -%}
	{%- section 'about-image-content' -%}
	{%- section 'about-policy' -%}
	{%- section 'about-image-content2' -%}
	{%- section 'featured-testimonials' -%}
	{%- section 'about-newsletter' -%}
	{%- section 'featured-brands' -%}
</section>
