.products {
  position: relative;
}

.products--list .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  overflow: inherit;
  border: 0;
}

.products--list .product-card__image-wrapper {
  width: 35%;
}

@media screen and (max-width: 767px) {
  .products--list .product-card__image-wrapper {
    width: 100%;
    margin: 0 0 15px;
  }
}

.products--list .product-card__content {
  width: 65%;
  padding: 0;
  padding-left: 30px;
  border: 0;
}

@media screen and (max-width: 767px) {
  .products--list .product-card__content {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
  }
}

.products--list .product-card__review {
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .products--list .product-card__review {
    margin-bottom: 5px;
  }
}

.products--list .product-card__name {
  margin-bottom: 15px;
  font-size: 19px;
}

.products--list .product-card__summary {
  display: block;
  margin-top: 20px;
  border-top: 1px solid #e7e7e7;
}

@media screen and (max-width: 767px) {
  .products--list .product-card__summary {
    margin-top: 0;
    border-top: 0;
  }
}

.products--list .product-card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  bottom: auto;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .products--list .product-card__buttons {
    position: relative;
    margin-top: 10px;
  }
}

.products--list .product-card__buttons .btn {
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: 1px 2px 12px 0 rgba(143, 143, 143, 0.75);
          box-shadow: 1px 2px 12px 0 rgba(143, 143, 143, 0.75);
}

.products--list .product-card__buttons .btn--add-to-cart {
  width: auto;
  padding: 10px 30px;
  color: #fff;
  background-color: #cb8161;
  font-family: Cormorant Garamond;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.products--list .product-card__buttons .btn--add-to-cart svg {
  display: none;
}

.products--list .product-card__buttons .btn--add-to-cart span {
  display: block;
}

.products--list .product-card__buttons .btn--add-to-cart:hover {
  background-color: #bb643e;
}

.products--list .product-card__quickview {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .products--list .product-card__quickview {
    display: none;
  }
}

.products--list .product-price {
  font-size: 17px;
}

.sidebar-categories__item {
  position: relative;
  padding: 5px;
  padding-left: 15px;
}

.sidebar-categories__item::before {
  content: '\f105';
  pointer-events: none;
  position: absolute;
  top: 7px;
  left: 0;
  font-family: "FontAwesome";
  font-size: 13px;
}

.sidebar-categories__item > a {
  display: inline-block;
  color: #868686;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.sidebar-categories__item > a:hover {
  color: #cb8161;
}

.sidebar-categories__item-toggle {
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.sidebar-categories__item-toggle::before {
  content: '\f106';
  pointer-events: none;
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidebar-categories__item-toggle.collapsed::before {
  content: '\f107';
}

.sidebar-subcategories {
  margin: 0;
  padding: 12px 0 8px;
  padding-left: 15px;
  list-style: none;
}

.sidebar-subcategories__item {
  position: relative;
  padding: 5px;
  padding-left: 15px;
}

.sidebar-subcategories__item::before {
  content: '\f105';
  pointer-events: none;
  position: absolute;
  top: 7px;
  left: 0;
  font-family: "FontAwesome";
  font-size: 13px;
}

.sidebar-subcategories__item > a {
  display: inline-block;
  color: #868686;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.sidebar-subcategories__item > a:hover {
  color: #cb8161;
}

.sidebar-lists {
  margin: 0;
  padding: 0 0 15px;
  list-style: none;
}

.sidebar-lists__item {
  padding: 5px 0;
}

.sidebar-lists__item a {
  display: inline-block;
  color: #868686;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.sidebar-lists__item a:hover {
  color: #cb8161;
}

.ajax-filter {
  margin-bottom: 20px;
  padding: 0 0 15px;
  border-bottom: 1px solid #e7e7e7;
}

.ajax-filter__title {
  position: relative;
  margin: 0 0 10px;
  padding: 0;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.wpbingo-filter__clear {
  position: absolute;
  top: 0;
  right: 0;
  color: #868686;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  text-transform: none;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.wpbingo-filter__clear:hover {
  color: #cb8161;
  text-decoration: none;
}

.wpbingo-filter__clear-all {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  padding-left: 12px;
  color: #868686;
  background-color: #ffffff;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  text-transform: none;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.wpbingo-filter__clear-all:hover {
  color: #cb8161;
  text-decoration: none;
}

.ajax-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ajax-filter__list--size {
  -webkit-column-count: 2;
          column-count: 2;
}

.ajax-filter__item {
  padding: 3px 0;
}

.ajax-filter__item a {
  position: relative;
  display: inline-block;
  padding: 4px 0 4px 26px;
  color: #868686;
  line-height: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.ajax-filter__item a::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #909090;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.ajax-filter__item a::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 5px;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #000000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.ajax-filter__item a:hover {
  text-decoration: none;
}

.ajax-filter__item a:hover::before {
  border-color: #cb8161;
}

.ajax-filter__item a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ajax-filter__item.active a::before {
  border-color: #cb8161;
}

.ajax-filter__item.active a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ajax-filter__list--color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: -3px;
  margin-right: -3px;
}

.ajax-filter__item--color {
  width: 10%;
  max-width: 10%;
  padding: 3px;
}

@media screen and (max-width: 1199px) {
  .ajax-filter__item--color {
    width: 15%;
    max-width: 15%;
  }
}

.ajax-filter__item--color a {
  display: block;
  padding: 0;
}

.ajax-filter__item--color a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  background-color: transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ajax-filter__item--color a::before {
  display: none;
}

.ajax-filter__item--color a:hover::after {
  border-color: #cb8161;
}

.ajax-filter__item--color img {
  display: block;
  max-width: 100%;
}

.ajax-filter__item--color.active a::after {
  border-color: #cb8161;
}

.product-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 12px 0;
}

.product-sidebar:last-child {
  margin-bottom: 10px;
}

.product-sidebar .product-card__review {
  margin-bottom: 10px;
}

.product-sidebar__image {
  width: 30%;
  max-width: 78px;
}

.product-sidebar__content {
  width: 70%;
  max-width: 70%;
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  .product-sidebar__content {
    padding-left: 15px;
  }
}

.product-sidebar__name {
  margin: 0 0 5px;
  font-family: Lato, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  line-height: 16px;
}

.product-sidebar__price .product-group-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product-sidebar__name-link {
  color: #000000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.product-sidebar__name-link:hover {
  color: #cb8161;
  text-decoration: none;
}

.collection-sidebar {
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .collection-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

@media screen and (max-width: 991px) {
  .collection-sidebar__wapper {
    position: absolute;
    top: 0;
    left: -280px;
    z-index: 2;
    width: 280px;
    height: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

@media screen and (max-width: 991px) {
  .collection-sidebar__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.collection-sidebar__close {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px;
  color: #fff;
  background-color: transparent;
  border: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.collection-sidebar__close span {
  display: none;
}

.collection-sidebar__close svg {
  display: block;
  width: 25px;
  height: 25px;
}

.collection-sidebar__close:hover, .collection-sidebar__close:focus {
  color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.collection-filter__button {
  font-weight: 500;
  display: inline-block;
  position: relative;
  font-size: 19px;
  cursor: pointer;
  color: #000000;
  line-height: 34px;
  border: 2px solid #000000;
  float: left;
  background: #fff;
  padding: 0;
  margin-right: 20px;
  width: 36px;
  height: 36px;
  text-align: center;
}

.collection-filter__button:hover, .collection-filter__button:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #000000;
  color: #fff;
}

.collection-filter__button:hover {
  background: #000000;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .collection-sidebar__overlay, .collection-sidebar__close {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .collection-sidebar--open {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .collection-sidebar--open .collection-sidebar {
    opacity: 1;
    visibility: visible;
  }
  .collection-sidebar--open .collection-sidebar__wapper {
    left: 0;
  }
  .collection-sidebar--open .collection-sidebar__close {
    left: 280px;
    opacity: 1;
    visibility: visible;
  }
  .collection-sidebar--open .collection-sidebar__overlay {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .collection-content {
    padding-left: 55px;
  }
}

.page-collection-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 25px;
}

.collection--empty .title--primary {
  font-family: Lato, sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  color: #868686;
}

.collection--empty .title--primary a {
  color: #cb8161;
  text-decoration: underline;
}

.collection--empty .title--primary a:hover {
  color: #000000;
}

.page-collection__content {
  padding-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .collection-product-count {
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .collection-product-count {
    display: none;
  }
}

.page-collection-header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-collection-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .collection-filter {
    display: none;
  }
}

.facet-filters.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facet-filters.sorting .facet-filters__sort {
  border: 1px solid #e1e1e1;
  cursor: pointer;
  height: 37px;
  padding: 0 15px;
  position: absolute;
}

@media (max-width: 991px) {
  .facet-filters.sorting .facet-filters__sort {
    right: 15px;
  }
}

.facet-filters.sorting.sidebar {
  display: none;
}

.collection-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 10px;
  border: 1px solid #e1e1e1;
  background: #fff;
  line-height: 1;
}

@media screen and (max-width: 991px) {
  .collection-view {
    display: none;
  }
}

.page-collection-footer {
  display: block;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  text-align: center;
}

.page-collection-footer.js-collection-loadmore a {
  display: inline-block;
  line-height: 40px;
  border: 2px solid #000000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 0 30px;
  position: relative;
}

.page-collection-footer.js-collection-loadmore a:hover {
  background: #cb8161;
  border-color: #cb8161;
  color: #fff;
}

.page-collection-footer.js-collection-loadmore a:hover .lds-ellipsis div {
  background: #fff;
}

.page-collection-footer.js-collection-loadmore a[href=""] {
  display: none;
}

.page-collection-footer.js-collection-loadmore a .lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 65px;
  height: 8px;
  top: calc(50% - 4px);
  left: calc(50% - 32.5px);
  opacity: 0;
}

.page-collection-footer.js-collection-loadmore a .lds-ellipsis div {
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000000;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.page-collection-footer.js-collection-loadmore a .lds-ellipsis div:nth-child(1) {
  left: 5px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.page-collection-footer.js-collection-loadmore a .lds-ellipsis div:nth-child(2) {
  left: 5px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.page-collection-footer.js-collection-loadmore a .lds-ellipsis div:nth-child(3) {
  left: 29px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.page-collection-footer.js-collection-loadmore a .lds-ellipsis div:nth-child(4) {
  left: 53px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

.page-collection-footer.js-collection-loadmore a.active {
  border-color: transparent;
  color: transparent;
}

.page-collection-footer.js-collection-loadmore a.active .lds-ellipsis {
  opacity: 1;
}

.page-collection-footer.js-collection-infinity a:before {
  content: "";
  display: inline-block;
  background-image: url(loading-filter.svg);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  z-index: 3;
  background-size: contain;
  opacity: 0;
}

.page-collection-footer.js-collection-infinity a[href=""] {
  display: none;
}

.page-collection-footer.js-collection-infinity a.active:before {
  opacity: 1;
}

.page-collection-footer .collection-product-count {
  margin-bottom: 10px;
  font-size: 16px;
}

@media (max-width: 991px) {
  .page-collection-footer .collection-product-count {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .page-collection-footer .collection-product-count {
    font-size: 14px;
    display: block;
  }
}

.page-collection-footer .content-percent {
  width: 100%;
  max-width: 350px;
  margin: auto;
  margin-bottom: 25px;
  height: 5px;
  background: #f5f5f5;
  position: relative;
}

.page-collection-footer .content-percent .percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #cb8161;
}

.collection-view__btn {
  display: inline-block;
  text-align: center;
  height: 17px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: relative;
  cursor: pointer;
}

.collection-view__btn .icon-column {
  vertical-align: middle;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  z-index: 0;
  display: inline-block;
}

.collection-view__btn .icon-column .layer {
  position: absolute;
  left: 0;
  height: 5px;
  top: 0;
}

.collection-view__btn .icon-column .layer > span {
  position: absolute;
  display: block;
  width: 5px;
  height: 100%;
  background: #cecece;
}

.collection-view__btn .icon-column .layer.middle {
  top: 6px;
}

.collection-view__btn .icon-column .layer.last {
  top: 12px;
}

.collection-view__btn.two {
  width: 10px;
  margin-right: 10px;
}

.collection-view__btn.two .icon-column .layer > span:first-child {
  left: 0;
}

.collection-view__btn.two .icon-column .layer > span:last-child {
  left: 6px;
}

.collection-view__btn.three {
  width: 17px;
  margin-right: 10px;
}

.collection-view__btn.three .icon-column .layer > span:first-child {
  left: 0;
}

.collection-view__btn.three .icon-column .layer > span:nth-child(2) {
  left: 6px;
}

.collection-view__btn.three .icon-column .layer > span:last-child {
  left: 12px;
}

.collection-view__btn.four {
  width: 23px;
  margin-right: 10px;
}

.collection-view__btn.four .icon-column .layer > span:first-child {
  left: 0;
}

.collection-view__btn.four .icon-column .layer > span:nth-child(2) {
  left: 6px;
}

.collection-view__btn.four .icon-column .layer > span:nth-child(3) {
  left: 12px;
}

.collection-view__btn.four .icon-column .layer > span:last-child {
  left: 18px;
}

.collection-view__btn.collection-view__btn--list {
  width: 25px;
}

.collection-view__btn.collection-view__btn--list .icon-column .layer > span:first-child {
  left: 0;
}

.collection-view__btn.collection-view__btn--list .icon-column .layer > span:last-child {
  left: 6px;
  width: 17px;
  height: 1px;
  top: 2px;
}

.collection-view__btn.active .icon-column .layer > span, .collection-view__btn:hover .icon-column .layer > span {
  background: #000000;
}

.collection-sidebar--open .page-collection.side_out .collection-sidebar {
  opacity: 1;
  visibility: visible;
}

.collection-sidebar--open .page-collection.side_out .collection-sidebar__close {
  left: 320px;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 480px) {
  .collection-sidebar--open .page-collection.side_out .collection-sidebar__close {
    left: calc(100% - 50px);
  }
}

.collection-sidebar--open .page-collection.side_out .collection-sidebar__wapper {
  left: 0;
}

.collection-sidebar--open .page-collection.side_out .collection-sidebar__overlay {
  display: block;
}

@media (min-width: 992px) {
  .collection-sidebar--open .page-collection.filter_drawer .collection-filter__button {
    background: #000000;
    color: #fff;
  }
  .collection-sidebar--open .page-collection.filter_drawer .collection-sidebar {
    opacity: 1;
    visibility: visible;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    height: 100%;
  }
  .collection-sidebar--open .page-collection.filter_drawer .collection-sidebar * {
    height: auto;
  }
  .collection-sidebar--open .page-collection.filter_drawer .collection-content {
    max-width: calc(100% - (25% + 15px));
  }
}

@media (max-width: 991px) {
  .collection-sidebar--open .page-collection.filter_drawer .collection-sidebar {
    opacity: 1;
    visibility: visible;
  }
  .collection-sidebar--open .page-collection.filter_drawer .collection-sidebar__close {
    left: 320px;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 991px) and (max-width: 480px) {
  .collection-sidebar--open .page-collection.filter_drawer .collection-sidebar__close {
    left: calc(100% - 50px);
  }
}

@media (max-width: 991px) {
  .collection-sidebar--open .page-collection.filter_drawer .collection-sidebar__wapper {
    left: 0;
  }
  .collection-sidebar--open .page-collection.filter_drawer .collection-sidebar__overlay {
    display: block;
  }
}

@media (max-width: 1199px) {
  #JsCollectionProduct .products__row {
    margin: 0 -7.5px;
  }
}

#JsCollectionProduct.load_collection {
  text-align: center;
}

#JsCollectionProduct.load_collection:before {
  position: relative;
  display: inline-block;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-top-color: #000000;
  width: 50px;
  height: 50px;
  top: 100px;
  background: none;
  -webkit-animation: 2s linear 0s normal none infinite running spin-load;
  animation: 2s linear 0s normal none infinite running spin-load;
  text-indent: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#JsCollectionProduct.load_collection > * {
  opacity: 0;
}

#JsCollectionProduct.grid-2 .products__col {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 15px;
}

@media (max-width: 1199px) {
  #JsCollectionProduct.grid-2 .products__col {
    padding: 0 7.5px;
  }
}

#JsCollectionProduct.grid-3 .products__col {
  max-width: 33.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  padding: 0 15px;
}

@media (max-width: 1199px) {
  #JsCollectionProduct.grid-3 .products__col {
    padding: 0 7.5px;
  }
}

@media (max-width: 767px) {
  #JsCollectionProduct.grid-3 .products__col {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

#JsCollectionProduct.grid-4 .products__col {
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 15px;
}

@media (max-width: 1199px) {
  #JsCollectionProduct.grid-4 .products__col {
    padding: 0 7.5px;
    max-width: 33.33%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
}

@media (max-width: 767px) {
  #JsCollectionProduct.grid-4 .products__col {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

#JsCollectionProduct.grid-4 .product-card .countdown-product .countdown {
  padding: 0 10px;
}

#JsCollectionProduct.grid-4 .product-card .countdown-product .countdown .countdown__item span:first-child {
  font-size: 18px;
}

#JsCollectionProduct.grid-4 .product-card .countdown-product .countdown .countdown__item span:last-child {
  font-size: 10px;
}

#JsCollectionProduct.list .products__col {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 0 15px;
}

@media (max-width: 1199px) {
  #JsCollectionProduct.list .products__col {
    padding: 0 7.5px;
  }
}

#JsCollectionProduct.list .product-short-description {
  display: block;
  border-top: 1px solid #e1e1e1;
  margin-top: 30px;
  padding-top: 30px;
}

#JsCollectionProduct.list .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
}

#JsCollectionProduct.list .product-card .product-card__image-wrapper {
  max-width: 35%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

#JsCollectionProduct.list .product-card .product-card__content {
  max-width: 65%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  padding: 0 0 0 50px;
  text-align: left;
  margin-top: 0;
}

#JsCollectionProduct.list .product-card .product-card__form {
  margin-top: 25px;
}

#JsCollectionProduct.list .product-card__image-link {
  margin-bottom: 0;
}

#JsCollectionProduct.list .product-card__name {
  font-size: 27px;
  text-transform: unset;
  line-height: 35px;
  margin: 0 0 10px;
}

#JsCollectionProduct.list .product-group-price {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
}

#JsCollectionProduct.list .wpb-variants-swatch {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#JsCollectionProduct.list .wpb-variants-swatch .swatch-content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#JsCollectionProduct.list .product-review .spr-badge {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 767px) {
  #JsCollectionProduct.list .product-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #JsCollectionProduct.list .product-card .product-card__image-wrapper {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  #JsCollectionProduct.list .product-card .product-card__content {
    margin-top: 20px;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0;
  }
}

.page-collection {
  margin-top: 60px;
}

.page-collection .FacetsWrapperDesktop.dropdown {
  display: none;
}

.page-collection .active-facets-desktop facet-remove:only-child {
  display: none;
}

@media (min-width: 1440px) {
  .page-collection.shop_full .container {
    max-width: 100%;
  }
}

@media (min-width: 1770px) {
  .page-collection.shop_full .container {
    max-width: 1770px;
  }
}

@media (max-width: 1800px) and (min-width: 1200px) {
  .page-collection.shop_full .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.page-collection.template-search--empty #JsCollectionProduct {
  display: none;
}

.page-collection.template-search--empty .template-search__header {
  color: #000000;
  text-align: center;
  font-size: 18px;
}

.page-collection.side_out .collection-filter {
  display: block;
}

.page-collection.side_out .collection-content {
  padding-left: 15px;
}

.page-collection.side_out .facet-filters.sorting .facet-filters__sort {
  left: 65px;
}

@media (max-width: 991px) {
  .page-collection.side_out .facet-filters.sorting .facet-filters__sort {
    left: auto;
    right: 15px;
  }
}

.page-collection.side_out .collection-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: block;
  width: 100vw;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.page-collection.side_out .collection-sidebar__close {
  display: block;
}

.page-collection.side_out .collection-sidebar__wapper {
  position: absolute;
  top: 0;
  left: -320px;
  z-index: 2;
  width: 320px;
  height: 100%;
  min-height: 100%;
  padding: 20px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.page-collection.side_out .collection-sidebar__wapper::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.page-collection.side_out .collection-sidebar__wapper::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.page-collection.side_out .collection-sidebar__wapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  .page-collection.side_out .collection-sidebar__wapper {
    left: -100%;
    width: calc(100% - 50px);
  }
}

.page-collection.side_out .collection-sidebar__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.page-collection.side_out .block-sidebar__title {
  font-size: 18px;
}

.page-collection.dropdown .collection-content {
  padding-left: 15px;
}

.page-collection.dropdown .FacetsWrapperDesktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px 20px;
}

.page-collection.dropdown .FacetsWrapperDesktop > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 25%;
  padding: 0 5px;
  position: relative;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .page-collection.dropdown .FacetsWrapperDesktop > * {
    min-width: 33.33%;
    padding: 0 7.5px;
  }
}

@media (max-width: 991px) {
  .page-collection.dropdown .FacetsWrapperDesktop > * {
    min-width: 50%;
  }
}

@media (max-width: 767px) {
  .page-collection.dropdown .FacetsWrapperDesktop > * {
    min-width: 100%;
  }
}

@media (max-width: 1200px) {
  .page-collection.dropdown .FacetsWrapperDesktop {
    margin: 0 -7.5px;
  }
}

.page-collection.dropdown .block-sidebar__title {
  line-height: 38px;
  border: 1px solid #000000;
  padding: 0 20px;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  position: relative;
  font-weight: 700;
}

.page-collection.dropdown .block-sidebar__title:before {
  position: absolute;
  right: 20px;
  line-height: 1;
  top: 9px;
  content: "\f0dd";
  font-family: FontAwesome;
  font-size: 15px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform-origin: 50% 73%;
          transform-origin: 50% 73%;
  font-weight: 400;
}

.page-collection.dropdown .facets__display {
  position: absolute;
  max-height: 300px;
  overflow: auto;
  width: calc(100% - 15px);
  left: 7.5px;
  background: #fff;
  z-index: 9;
  padding: 20px;
  -webkit-box-shadow: 0px 15px 30px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 30px 0 rgba(0, 0, 0, 0.15);
}

.page-collection.dropdown .facets__display::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.page-collection.dropdown .facets__display::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.page-collection.dropdown .facets__display::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .page-collection.dropdown .facets__display {
    width: calc(100% - 15px);
    left: 7.5px;
  }
}

.page-collection.dropdown .js-filter[open] .block-sidebar__title, .page-collection.dropdown .sidebar-categories[open] .block-sidebar__title {
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
}

.page-collection.dropdown .js-filter[open] .block-sidebar__title:before, .page-collection.dropdown .sidebar-categories[open] .block-sidebar__title:before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.page-collection.filter_drawer .collection-content {
  padding-left: 15px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-left: auto;
}

.page-collection.filter_drawer .facet-filters.sorting .facet-filters__sort {
  left: 65px;
}

@media (max-width: 991px) {
  .page-collection.filter_drawer .facet-filters.sorting .facet-filters__sort {
    left: auto;
    right: 15px;
  }
}

@media (min-width: 992px) {
  .page-collection.filter_drawer .collection-sidebar {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0px;
    max-width: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 2;
    height: 0;
    padding: 0 15px;
  }
  .page-collection.filter_drawer .collection-sidebar * {
    height: 0;
  }
}

.page-collection.filter_drawer .collection-filter {
  display: block;
}

@media (max-width: 991px) {
  .page-collection.filter_drawer .collection-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: block;
    width: 100vw;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .page-collection.filter_drawer .collection-sidebar__close {
    display: block;
  }
  .page-collection.filter_drawer .collection-sidebar__wapper {
    position: absolute;
    top: 0;
    left: -320px;
    z-index: 2;
    width: 320px;
    height: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .page-collection.filter_drawer .collection-sidebar__wapper::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  .page-collection.filter_drawer .collection-sidebar__wapper::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  .page-collection.filter_drawer .collection-sidebar__wapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 991px) and (max-width: 480px) {
  .page-collection.filter_drawer .collection-sidebar__wapper {
    left: -100%;
    width: calc(100% - 50px);
  }
}

@media (max-width: 991px) {
  .page-collection.filter_drawer .collection-sidebar__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .page-collection.filter_drawer .block-sidebar__title {
    font-size: 18px;
  }
}

.sidebar-categories {
  margin: 0 0 50px;
  padding: 0;
  list-style: none;
}

.sidebar-categories ul {
  padding: 0;
  list-style: none;
  margin-right: -10px;
  max-height: 400px;
  overflow: auto;
}

.sidebar-categories ul::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.sidebar-categories ul::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.sidebar-categories ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-categories ul li {
  margin-top: 10px;
  padding-right: 10px;
}

.sidebar-categories ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #868686;
}

.sidebar-categories ul li a:hover {
  color: #000000;
}

.sidebar-categories ul li label {
  margin-bottom: 0;
  position: relative;
  z-index: -1;
}

.sidebar-categories ul li .count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #f1f1f1;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}

.FacetFiltersForm summary {
  list-style: none;
}

.FacetFiltersForm .js-filter {
  margin-bottom: 50px;
}

.FacetFiltersForm .js-filter-price .facets__price {
  display: inline-block;
  width: 100%;
}

.FacetFiltersForm .js-filter-price .slider-price {
  position: relative;
}

.FacetFiltersForm .js-filter-price .slider-price input {
  position: absolute;
}

.FacetFiltersForm .js-filter-price .slider-price input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 0;
}

.FacetFiltersForm .js-filter-price .slider-price input[type=range]:focus {
  outline: none;
}

.FacetFiltersForm .js-filter-price .slider-price input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}

.FacetFiltersForm .js-filter-price .slider-price input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #000000;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.FacetFiltersForm .js-filter-price .slider-price input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 0;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.FacetFiltersForm .js-filter-price .slider-price input[type=range]:focus::-moz-range-track {
  background: #000000;
}

.FacetFiltersForm .js-filter-price .slider-price input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #000000;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  z-index: -1;
  position: relative;
}

.FacetFiltersForm .js-filter-price .slider-price input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: unset;
  width: 8px;
  height: 8px;
  border: 2px solid #000000;
  border-radius: 0;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.FacetFiltersForm .js-filter-price .field-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.FacetFiltersForm .js-filter-price .field-price .field {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e5e5e5;
  height: 30px;
  line-height: 30px;
  padding: 0 0 0 10px;
  font-size: 12px;
}

.FacetFiltersForm .js-filter-price .field-price .field input {
  border: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding: 0 0px 0 15px;
  font-size: 14px;
  line-height: 28px;
  width: 100%;
}

.FacetFiltersForm .js-filter-price .field__label {
  margin: 0 15px;
}

.FacetFiltersForm .filter-label {
  line-height: 1;
}

.FacetFiltersForm .filter-label .count {
  display: none;
}

.FacetFiltersForm .filter-label .facets__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.FacetFiltersForm .filter-label .facets__list input {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  opacity: 0;
  visibility: hidden;
}

.FacetFiltersForm .filter-label .facets__list label {
  margin: 0 10px 10px 0;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  line-height: 1;
  min-width: 38px;
  cursor: pointer;
  text-align: center;
  color: #000000;
  position: relative;
  display: block;
}

.FacetFiltersForm .filter-label .facets__list label.facet-checkbox--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.FacetFiltersForm .filter-label .facets__list label.facet-checkbox--disabled input {
  cursor: not-allowed;
}

.FacetFiltersForm .filter-label .facets__list label:hover {
  background: #000000;
  border-color: #000000;
  color: #fff;
}

.FacetFiltersForm .filter-label .facets__list label span {
  display: none;
}

.FacetFiltersForm .filter-label .facets__list .select-filter input:checked + label {
  background: #000000;
  border-color: #000000;
  color: #fff;
}

.FacetFiltersForm .filter-color {
  line-height: 1;
}

.FacetFiltersForm .filter-color .facets__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -3px;
  padding-top: 10px;
}

.FacetFiltersForm .filter-color .facets__list input {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  opacity: 0;
  visibility: hidden;
}

.FacetFiltersForm .filter-color .facets__list label {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 15px 10px 0;
  color: transparent;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.FacetFiltersForm .filter-color .facets__list label.facet-checkbox--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.FacetFiltersForm .filter-color .facets__list label.facet-checkbox--disabled input {
  cursor: not-allowed;
}

.FacetFiltersForm .filter-color .facets__list label:before {
  content: "";
  position: absolute;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  left: -5px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #000000;
  border-radius: 50%;
}

.FacetFiltersForm .filter-color .facets__list label span {
  display: inline-block;
  line-height: 23px;
  color: #fff;
  background: #333;
  border-radius: 4px;
  padding: 0 5px;
  font-size: 11px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}

.FacetFiltersForm .filter-color .facets__list label span:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-width: 4px;
  border-style: solid;
  left: calc(50% - 4px);
  bottom: -8px;
  border-top-color: #333;
}

.FacetFiltersForm .filter-color .facets__list label:hover span {
  opacity: 1;
  visibility: visible;
}

.FacetFiltersForm .filter-color .facets__list .select-filter input:checked + label:before {
  opacity: 1;
  visibility: visible;
}

.FacetFiltersForm .filter-image {
  line-height: 1;
}

.FacetFiltersForm .filter-image .facets__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -3px;
  padding-top: 10px;
}

.FacetFiltersForm .filter-image .facets__list input {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  opacity: 0;
  visibility: hidden;
}

.FacetFiltersForm .filter-image .facets__list label {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 15px 10px 0;
  color: transparent;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.FacetFiltersForm .filter-image .facets__list label.facet-checkbox--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.FacetFiltersForm .filter-image .facets__list label.facet-checkbox--disabled input {
  cursor: not-allowed;
}

.FacetFiltersForm .filter-image .facets__list label:before {
  content: "";
  position: absolute;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  left: -5px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #000000;
  border-radius: 50%;
}

.FacetFiltersForm .filter-image .facets__list label span {
  display: inline-block;
  line-height: 23px;
  color: #fff;
  background: #333;
  border-radius: 4px;
  padding: 0 5px;
  font-size: 11px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}

.FacetFiltersForm .filter-image .facets__list label span:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-width: 4px;
  border-style: solid;
  left: calc(50% - 4px);
  bottom: -8px;
  border-top-color: #333;
}

.FacetFiltersForm .filter-image .facets__list label:hover span {
  opacity: 1;
  visibility: visible;
}

.FacetFiltersForm .filter-image .facets__list .select-filter input:checked + label:before {
  opacity: 1;
  visibility: visible;
}

.FacetFiltersForm .filter-list .facets__list {
  margin: 0;
}

.FacetFiltersForm .filter-list .facets__list li {
  margin-top: 10px;
}

.FacetFiltersForm .filter-list .facets__list li:first-child {
  margin-top: 0;
}

.FacetFiltersForm .filter-list .facets__list input {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  opacity: 0;
  visibility: hidden;
}

.FacetFiltersForm .filter-list .facets__list label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.FacetFiltersForm .filter-list .facets__list label:hover {
  color: #000000;
}

.FacetFiltersForm .filter-list .facets__list label .count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #f1f1f1;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}

.FacetFiltersForm .filter-list .facets__list label span {
  display: none;
}

.FacetFiltersForm .filter-list .facets__list label:before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  position: absolute;
  left: 0;
}

.FacetFiltersForm .filter-list .facets__list label.facet-checkbox--disabled {
  opacity: 0.5;
  text-decoration: line-through;
  cursor: not-allowed;
}

.FacetFiltersForm .filter-list .facets__list .select-filter input:checked + label {
  color: #000000;
}

.FacetFiltersForm .filter-list .facets__list .select-filter input:checked + label:before {
  background: #000000;
  border-color: #000000;
}

facet-remove .active-facets__button {
  display: inline-block;
  background: #eee;
  line-height: 26px;
  padding: 0 10px 0 15px;
  cursor: pointer;
  margin: 2.5px 5px 2.5px 0;
  border-radius: 0;
  -webkit-border-radius: 0;
}

facet-remove .active-facets__button span {
  line-height: 1;
}

facet-remove .active-facets__button .visually-hidden {
  font-size: 0;
  display: inline-block;
}

facet-remove .active-facets__button .visually-hidden:before {
  content: "\ea02";
  display: inline-block;
  font-size: 14px;
  font-family: feather;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

facet-remove .active-facets__button:hover {
  background: #000000;
  color: #fff;
}

facet-remove .active-facets__button-remove {
  border-bottom: 1px solid #000000;
  cursor: pointer;
  font-weight: 500;
}

.active-facets {
  margin-bottom: 30px;
}

.active-facets:only-child {
  display: none;
}

.page-collections {
  margin-top: 50px;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
/*# sourceMappingURL=collection.css.map */