// Media breakpoints
$grid-breakpoints: (
	XS: 0,
	S: 576px,
	M: 768px,
	L: 992px,
	XL: 1200px
) !default;
@function breakpoint-next(
	$name,
	$breakpoints: $grid-breakpoints,
	$breakpoint-names: map-keys($breakpoints)
) {
	$n: index($breakpoint-names, $name);
	@return if(
		$n != null and $n < length($breakpoint-names),
		nth($breakpoint-names, $n + 1),
		null
	);
}
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
	$min: map-get($breakpoints, $name);
	@return if($min != 0, $min, null);
}
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
	$next: breakpoint-next($name, $breakpoints);
	@return if($next, breakpoint-min($next, $breakpoints) - 0.02, null);
}

@mixin MQ-min($name, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($name, $breakpoints);
	@if $min {
		@media (min-width: $min) {
			@content;
		}
	} @else {
		@content;
	}
}
@mixin MQ-max($name, $breakpoints: $grid-breakpoints) {
	$max: breakpoint-max($name, $breakpoints);
	@if $max {
		@media (max-width: $max) {
			@content;
		}
	} @else {
		@content;
	}
}
@mixin MQ-between($lower, $upper, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($lower, $breakpoints);
	$max: breakpoint-max($upper, $breakpoints);

	@if $min != null and $max != null {
		@media (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else if $max == null {
		@include MQ-min($lower, $breakpoints) {
			@content;
		}
	} @else if $min == null {
		@include MQ-max($upper, $breakpoints) {
			@content;
		}
	}
}



/* General 
*********************************/
img {
    max-width: 100%;
}
  
.center {
    padding: 0 1rem;
    width: 100%;

    @include MQ-min(L) {
        padding: 0 1.25rem;
        margin: 0 auto;
        max-width: 1345px !important;

        &--slim {
            max-width: 1010px !important;
        }
        &--narrow {
            max-width: 1150px !important;
        }
        &--wide {
            max-width: 1440px !important;
        }
    }
}
  

  /* Footer 
*********************************/

.footer{
    background: #151414;
    display:flex;
    flex-direction:column;

    &__top{
        transition: all 1s;
        padding: 2rem 0;
        
        &__container{
            display: grid;
            justify-content: center;
            align-content: center;
        }
    }

    &__center{
        transition: all 1s;
        padding: 2rem 0;
        
        &__container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
        }
    }

    &__bottom{		
        transition: all 1s;
        background: #202020;
        padding: 1rem 0;
        
        &__container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
}