<section class="page-contact">
	<div class="page-contact__inner">
		<div class="container">
			<header class="page-header">
				<h1 class="page-title page-contact__title">{{ page.title }}</h1>
			</header>
			<div class="page__content">
				<div class="rte">
					{{ page.content }}
				</div>
			</div>
		</div>
		{%- section 'map' -%}
		{%- section 'contact-info' -%}
		{%- section 'contact-form' -%}
	</div>
</section>
