<section class="product-page">
  <div class="product-page__inner">
    {%- section 'product-template' -%}
    {%- section 'product-information' -%}
    {%- section 'product-recommendations' -%}
  </div>
</section>
